body {
    background-color: #2D4321;
    color: whitesmoke;
    font-family: "Send Flowers", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: brown;
    color: white;
    font-family: "Send Flowers", cursive;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}